.customers{
&__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16666667;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
}
&__icon {
  fill: #afb1b8;
  border: none;
}
&__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
&__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-bottom: 94px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__item:hover,
&__item:focus,
&__item:hover use {
  cursor: pointer;
  border: 1px solid #2196f3;
  fill: #2196f3;
}
&__path {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__link {
  border: none;
}
&__icon:hover,
&__icon:focus {
  fill: #2196f3;
}
}