.newsletter {
  display: flex;
  flex-wrap: wrap;
  width: 570px;

&__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 207px;
  margin-top: 12px;
  position: relative;
}
}
