.policy{
&__text::before {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  outline: 1px solid #000;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__checkbox:checked + &__text::before {
  background-color: #2196f3;
  background-image: url(../image/modal-tickbox.png);
  background-repeat: no-repeat;
  background-size: cover, contain;
  border: 1px solid #2196f3;
  outline: none;
}
&__statement {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
&__statute {
  color: #2196f3;
}
}